*,
*::before,
*::after {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 600px;
  margin: 5% auto;
}

.card {
  position: relative;
  transition: all 0.4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.card,
.back,
.front {
  height: 140px;
  width: 140px;
  border-radius: 5%;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background: pink url("../img/card.png") no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.match .front {
  background: #6589f9 !important;
  display: none;
}

.selected {
  transform: rotateY(180deg);
}

.match {
  background-image: none !important;
}

@media all and (max-width: 1250px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    width: 600px;
  }
}